@media (max-width: 1100px) {
    .map {
        width: 100%;
        max-width: 800px;
    }

    .map-div {
        width: 100%;
        max-width: 800px;
        margin: 0 auto;
        margin-top: 50px;
        justify-content: center;
    }

    .nav-ul {
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: 400px;

    }

    .navigation-div {
        margin-right: 30px;

    }

    .formclass {
        display: flex;
        flex-direction: column;
    }

    .website {
        margin-left: 250px;
    }

    .input-name {
      width: 250px;
    }

    .input-surname {
        width: 250px;
      }
      
    .input-mail {
        width: 250px;
      }
      .bttn {
        width: 250px;
      }
    .input-div {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        margin: 0 auto;
    }

    .textarea-div {
        margin: 0 auto;
        margin-bottom: 15px;
    }

    .top-title-div {
        width: 100%;
        text-align: center;
        display: inline-block;
        margin: 0 auto;
 
    }

    .p-contact {
        margin: 0 auto;
    }
    
    .p-text {
        margin: 0 auto;
        margin-bottom: 25px;
    }

    .bottom-title-div {
        width: 100%;
        text-align: center;
    }

}