/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

@media (max-width: 1100px) {
    .map {
        width: 100%;
        max-width: 800px;
    }

    .map-div {
        width: 100%;
        max-width: 800px;
        margin: 0 auto;
        margin-top: 50px;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }

    .nav-ul {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        width: 100%;
        max-width: 400px;

    }

    .navigation-div {
        margin-right: 30px;

    }

    .formclass {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }

    .website {
        margin-left: 250px;
    }

    .input-name {
      width: 250px;
    }

    .input-surname {
        width: 250px;
      }
      
    .input-mail {
        width: 250px;
      }
      .bttn {
        width: 250px;
      }
    .input-div {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        margin: 0 auto;
    }

    .textarea-div {
        margin: 0 auto;
        margin-bottom: 15px;
    }

    .top-title-div {
        width: 100%;
        text-align: center;
        display: inline-block;
        margin: 0 auto;
 
    }

    .p-contact {
        margin: 0 auto;
    }
    
    .p-text {
        margin: 0 auto;
        margin-bottom: 25px;
    }

    .bottom-title-div {
        width: 100%;
        text-align: center;
    }

}