.header-div {
    background-image: url('../images/Group65.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 324px;
    position: relative;
}

.p-logo {
    margin-left: 140px;
    margin-top: 40px;
    color: white;
    position: absolute;
    font-weight: bolder;
}

.nav-ul {
    position: absolute;
    right: 140px;
    top: 40px;
    width: 565px;
    display: flex;
    justify-content: space-between;
}

.nav-li {
    color: white;
    font-weight: bolder;
}

h2 {
    color: white;
    font-weight: bolder;
    position: absolute;
    left: 140px;
    top: 145px;
    font-size: 56px;
}

.header-bottom-text1 {
    color: white;
    font-weight: bolder;
    position: absolute;
    top: 205px;
    left: 140px;
    width: 45px;
    margin-top: 30px;
}

.header-bottom-text2 {
    color: white;
    font-weight: bolder;
    position: absolute;
    top: 205px;
    left: 215px;
    width: 57px;
    margin-top: 30px;
}

.line-div {
    background-color: white;
    width: 1px;
    height: 19px;
    position: absolute;
    top: 205px;
    left: 200px;
    margin-top: 30px;
}

.map-div {
    width: 1088px;
    height: 286px;
    margin: 0 auto;
    margin-top: 50px;
}

.map {
    width: 1088px;
    height: 286px;
    margin: 0 auto;
}

section {
    width: 1088px;
    margin: 0 auto;
    margin-top: 56px;

}

.p-contact {
    color: #5863F8;
    font-size: 21px;
    font-weight: bold;
    margin-bottom: 25px;
}

.p-text {
    color: black;
    font-size: 50px;
    font-weight: bolder;
    width: 385px;
    margin-bottom: 65px;
}

.text-form {
    width: 720px;
    height: 288px;
    padding-left: 20px;
    padding-top: 20px;
    background-color: #F8F8F8;
    border-color: #E8E8E8;
    color: #CECECE;
    outline: none;
    resize: none;
    border-width: 2px;
}


.text-form::placeholder {
    color: #CECECE;
}

.formclass {
    display: flex;
    justify-content: space-between;
}

.input-name {
    width: 352px;
    height: 60px;
    background-color: #F8F8F8;   
    outline: none;
    padding-left: 10px;
    border-style: solid;
    border-color: #E8E8E8;
    border-width: 2px;
}

.input-name::placeholder {
    color: #CECECE;
}

.input-surname {
    width: 352px;
    height: 60px;
    background-color: #F8F8F8;   
    outline: none;
    padding-left: 10px;
    border-style: solid;
    border-color: #E8E8E8;
    border-width: 2px;
}

.input-surname::placeholder {
    color: #CECECE;
}

.input-mail {
    width: 352px;
    height: 60px;
    background-color: #F8F8F8;   
    outline: none;
    padding-left: 10px;
    border-style: solid;
    border-color: #E8E8E8;
    border-width: 2px; 
}

.input-mail::placeholder {
    color: #CECECE;
}

.textarea-div {
    width: 720px;
    margin-right: 16px;
}

.bttn {
    width: 352px;
    height: 60px;
    color: white;
    background-color: #5863F8;
    border: none;
    font-weight: bold;
}

.input-div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 288px;
}

.send-btn {
    margin-right: 5px;
}

.contact-div {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    padding-left: 70px;
    padding-right: 70px;
    margin-bottom: 90px;
}

.iclass {
    color: white;
    background-color: #5863F8;
    width: 59px;
    height: 58px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact-p {
    font-size: 18px;
    color: black;
    font-weight: bold;
    margin-top: 15px;
    margin-bottom: 15px;
}

.contact-text {
    color: #B1B1B1;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 5px;
}

.pre-div {
    display: flex;
    flex-direction: column;
    align-items: center;
}