header {
    background-image: url('../images/Group65.png');
    background-repeat: no-repeat;
    background-size: cover; 
    height: 324px;
    width: 100%;
}
.header-div {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    max-width: 1088px;
    width: 100%;
    
}

.right-header-div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.p-logo {
    margin-top: 40px;
    color: white;
    font-family: 'Poppins';
    font-weight: bolder;
    margin-bottom: 115px;
}

.nav-ul {
    margin-top: 40px;
    top: 40px;
    width: 565px;
    display: flex;
    justify-content: space-between;
}

.nav-li {
    color: white;
    font-weight: bolder;
    font-family: 'Poppins';
}

h2 {
    color: white;
    font-weight: bolder;
    font-size: 56px;
    font-family: 'Poppins';
}

.header-bottom-text1 {
    color: white;
    font-weight: bolder;
    display: inline-block;
    width: 45px;
    font-family: 'Poppins';
    margin-top: 40px;
    margin-right: 40px;
    
}

.header-bottom-text2 {
    color: white;
    font-weight: bolder;
    width: 57px;
    font-family: 'Poppins';
    display: inline-block;
    margin-top: 40px;
}

.line-div {
    background-color: white;
    width: 1px;
    height: 19px;
    display: inline-block;
    margin-right: 40px;
    vertical-align: middle;
}

.map-div {
    max-width: 1088px;
    width: 100%;
    height: 286px;
    margin: 0 auto;
    margin-top: 50px;
}

.map {
    width: 1088px;
    height: 286px;
    margin: 0 auto;
}

section {
    max-width: 1088px;
    width: 100%;
    margin: 0 auto;
    margin-top: 56px;

}

.p-contact {
    color: #5863F8;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 25px;
    font-family: 'Poppins';
    max-width: 200px;
}

.p-text {
    color: black;
    font-size: 42px;
    font-weight: bolder;
    width: 568px;
    margin-bottom: 65px;
    font-family: 'Poppins';
}


.pp {

    width: 380px;
}

.text-form {
    width: 720px;
    height: 288px;
    padding-left: 20px;
    padding-top: 20px;
    background-color: #F8F8F8;
    border-color: #E8E8E8;
    color: #CECECE;
    outline: none;
    resize: none;
    border-width: 2px;
    font-family: 'Poppins';
}


.text-form::placeholder {
    color: #CECECE;
}

.formclass {
    display: flex;
    justify-content: space-between;
}

.input-name {
    width: 352px;
    height: 60px;
    background-color: #F8F8F8;   
    outline: none;
    padding-left: 10px;
    border-style: solid;
    border-color: #E8E8E8;
    border-width: 2px;
    font-family: 'Poppins';
}

.input-name::placeholder {
    color: #CECECE;
}

.input-surname {
    width: 352px;
    height: 60px;
    background-color: #F8F8F8;   
    outline: none;
    padding-left: 10px;
    border-style: solid;
    border-color: #E8E8E8;
    border-width: 2px;
    font-family: 'Poppins';
}

.input-surname::placeholder {
    color: #CECECE;
}

.input-mail {
    width: 352px;
    height: 60px;
    background-color: #F8F8F8;   
    outline: none;
    padding-left: 10px;
    border-style: solid;
    border-color: #E8E8E8;
    border-width: 2px; 
    font-family: 'Poppins';
}

.input-mail::placeholder {
    color: #CECECE;
}

.textarea-div {
    width: 720px;
    margin-right: 16px;
}

.bttn {
    width: 352px;
    height: 60px;
    color: white;
    background-color: #5863F8;
    border: none;
    font-weight: bold;
    font-family: 'Poppins';
}

.input-div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 288px;
}

.send-btn {
    margin-right: 5px;
}

.contact-div {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    padding-left: 70px;
    padding-right: 70px;
    margin-bottom: 90px;
}

.iclass {
    color: white;
    background-color: #5863F8;
    width: 59px;
    height: 58px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact-p {
    font-size: 18px;
    color: black;
    font-weight: bold;
    margin-top: 15px;
    margin-bottom: 15px;
    font-family: 'Poppins';
}

.contact-text {
    color: #B1B1B1;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 5px;
    font-family: 'Poppins';
}

.pre-div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bottom-title-div {
    width: 565px;
}

.photos-div {
    display: flex;
    justify-content: space-between;
}

footer {
    width: 100%;
    height: 395px;
    background-color: #121212;
}

.main-footer-div {
    max-width: 1088px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.footer-div {
    max-width: 1088px;
    width: 100%;
    height: 260px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.footer-logo {
    font-weight: bold;
    font-family: 'Poppins';
    font-size: 24px;
    color: white;
    padding-top: 95px;
}


.right-div-footer {
  display: inline-block;
  margin-right: 210px;
}

.footer-text {
    font-family: 'Poppins';
    font-size: 14px;
    color: #B1B1B1;
    width: 260px;
    margin-top: 25px;
    
}

.small-logo {
    margin-top: 20px;
    margin-right: 5px;
}

.footer-last-text {
    font-family: 'Poppins';
    font-size: 14px;
    color: #B1B1B1;  
    margin-top: 40px;
    display: inline-block;
}

.marian {
    font-family: 'Poppins';
    font-size: 14px;
    color: #5863F8; 
}

.footer-title {
    font-weight: bold;
    font-family: 'Poppins';
    font-size: 18px;
    color: white;
    display: inline-block;
    margin-right: 75px;
    margin-top: 95px;
    height: 18px;
}

.footer-list {
   display: inline-block;
  
}

.website {
    font-family: 'Poppins';
    font-size: 14px;
    color: #5863F8;  
    display: inline-block;
    margin-left: 355px;

}

.footer-div-column {
    display: inline-block;
    margin: 0 auto;
    width: 100%;
}

.ul-ul {
    display: flex;
    flex-direction: column;
    margin-top: 25px;
}
.ul-li {  
    font-size: 14px;
    font-family: 'Poppins';
    color: #5863F8; 
    margin-bottom: 10px;  
}

.la {
    color: white;
}

.logo1 {
    color: #5863F8;
    margin-right: 7px;
}

.navigation-div {
    display: inline-block;
    height: 150px;
}

nav {
    display: inline-block;
}